<!-- ÅF skapa nya presentkort -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Skapa presentkortskoder</h3>
  </div>

  <form role="form" method="post" action="/admin/retailers/<%= @retailer.id %>/giftcards/add">
    <div class="panel-body">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <label for="amount">Antal</label>
            <input type="number" class="form-control" id="amount" name="amount" required>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <button type="submit" class="btn btn-success">Skapa</button>
    </div>
  </form>
</div>

<!-- ÅF view/presentkort -->
<div class="panel panel-default giftcard-list">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @retailer.name %></h3>
  </div>

  <div class="panel-table">
    <table class="table table-sort">
      <thead>
        <tr>
          <th>Presentkortskod</th>
          <th>Skapad <span class="glyphicon glyphicon-play"></span></th>
          <th>Tillverkad <span class="glyphicon glyphicon-play"></span></th>
          <th>Skickad <span class="glyphicon glyphicon-play"></span></th>
          <th>Registrerad <span class="glyphicon glyphicon-play"></span></th>
          <th>Rabattkod <span class="glyphicon glyphicon-play"></span></th>
        </tr>
      </thead>
      <tbody>
        <% @giftcards.each do |g| %>
        <tr id="<%= g.id %>">
          <td><%= g.code %></td>
          <td><%= g.created_on %></td>
          <td>
            <form>
              <label class="table-checkbox table-status">
                <input type="checkbox" <%= "checked" if g.constructed? %>>
                <span>1</span>
              </label>
            </form>
          </td>
          <td>
            <form>
              <label class="table-checkbox table-status">
                <input type="checkbox" <%= "checked" if g.shipped? %>>
                <span>0</span>
              </label>
            </form>
          </td>
          <td><%= g.registered %></td>
          <td>RABBATKOD</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="panel-footer">
    <a href="#" class="btn btn-primary">Skapa nya</a>
  </div>
</div>
