<% if @board.deck_only? %>
  <div class="Shop-option" id="deckOnlyContent">
    <% if @board.out_of_stock %>
      <button class="Button Shop-buyButton" disabled><span>Out of stock</span></button>
    <% else %>
      <button class="Button Shop-buyButton"><span>Buy<strong class="Button-sub"><%= @board.price.deck %><small>SEK</small></strong></span></button>
    <% end %>
      <p>Free shipping worldwide</p>
      <p>Europe 3-5 working days<p/>
      <p>Rest of world 8-10 working days<p/>
  </div>
<% else %>

  <div class="Shop-option js-shopOption" id="completeContent">
    <% if @board.out_of_stock %>
      <button class="Button Shop-buyButton" disabled><span>Out of stock</span></button>
    <% else %>
      <button class="Button Shop-buyButton"><span>Buy<strong class="Button-sub"><%= @board.price.complete %> <small>SEK</small></strong></span></button>
    <% end %>
    <p><b>Approximately $<%= @board.price.complete/8.63.to_i %> or €<%= @board.price.complete/9.48.round(1).to_i %></p></b><br>
    <p>Free shipping worldwide</p>
    <p>Europe 3-5 working days<p/>
    <p>Rest of world 8-10 working days<p/>
  </div>

  <div class="Shop-option js-shopOption u-isHidden" id="deckOnlyContent">
    <% if @board.out_of_stock %>
      <button class="Button Shop-buyButton" disabled><span>Out of stock</span></button>
    <% else %>
      <button class="Button Shop-buyButton"><span>Buy<strong class="Button-sub"><%= @board.price.deck %> <small>SEK</small></strong></span></button>
    <% end %>
    <p><b>Approximately $<%= @board.price.deck/8.63.to_i %> or €<%= @board.price.complete/9.48.round(1).to_i %></p></b><br>
    <p>Free shipping worldwide</p>
    <p>Europe 3-5 working days<p/>
    <p>Rest of world 8-10 working days<p/>
  </div>
<% end %>
