<!doctype html>
<!--[if lte IE 8]> <html lang="en" class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= title %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, maximum-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="<%= stylesheet_path 'styles' %>">
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="<%= stylesheet_path 'styles-no-mq' %>">
    <script>var staticWidth = 1000</script>
    <script src="<%= javascript_path 'html5shiv' %>"></script>
  <![endif]-->
  <script src="<%= javascript_path 'app' %>"></script>
</head>
<body class="Page Page--<%= @slug %>">


  <header class="Page-header">
    <strong><a class="Logo" href="/">Urskog Longboard</a></strong>
    <%= erb :'parts/navigation', :layout => false %>
  </header>


  <div class="Page-main">
    <%= yield %>
  </div>


  <footer class="Page-footer Footer">
    <h2 class="u-isHiddenVisually">Company information</h2>
    <ul>
      <li>Urskog Longboard
      <li><a href="mailto:info@urskog.com" title="Send a mail to info@urskog.com">info@urskog.com</a>
      <li>Tegelviksgatan 18
      <li>116 41 Stockholm
    </ul>

    <a href="https://www.facebook.com/urskog.longboard" class="Icon Icon--facebook u-marginRl">Facebook</a>
    <a href="http://instagram.com/urskog" class="Icon Icon--instagram">Instagram</a>
  </footer>

<script>
  // Google Analytics
  /* var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script')); */
</script>
</body>
</html>
