<div class="nav__sub">
  <ul>
    <li><a class="nav__item <%= active("stubbe") %>" href="/products/stubbe">Stubbe</a></li>
    <li><a class="nav__item <%= active("kvist") %>" href="/products/kvist">Kvist</a></li>
    <li><a class="nav__item <%= active("kil") %>" href="/products/kil">Kil</a></li>
    <li><a class="nav__item <%= active("lov") %>" href="/products/lov">Löv</a></li>
    <li><a class="nav__item <%= active("pinne") %>" href="/products/pinne">Pinne</a></li>
    <li><a class="nav__item <%= active("sticka") %>" href="/products/sticka">Sticka</a></li>
    <li><a class="nav__item <%= active("fro") %>" href="/products/fro">Frö</a></li>
  </ul>
</div>