<nav class="Navigation">
  <h3 class="u-isHiddenVisually">Main navigation</h3>
  <ul>
    <li><a class="Navigation-item <%= active("about") %>" href="/about">About</a>
    <li><a class="Navigation-item <%= active("products") %>" href="/products">Products</a>
    <li><a class="Navigation-item <%= active("retailers") %>" href="/retailers">Retailers</a>
    <li><a class="Navigation-item <%= active("contact") %>" href="/contact">Contact</a>
    <li><a class="Navigation-item <%= active("gof") %>" href="/gof">Events</a>
  </ul>
</nav>