<div class="Constrained Constrained--l">
  <h1 class="u-isHiddenVisually">Products: All of Urskog longboards</h1>
  <p class="u-marginTl u-marginBs u-textQuote">Our boards are hand made in Sweden and personally signed and numbered when quality assured.</p>
  <p class="u-marginTn u-marginBm u-textQuote">We strive to create the perfect board for the occasion longboards for cruising, freestyle and down-hill.</p>

  <ul class="ProductList ProductList--divided">
    <% @boards.each do |board| %>
      <% unless board.unlisted %>
        <li>
          <a class="ProductList-item" href="/products/<%= board.slug %>">
            <h2 class="ProductList-itemHeading"><%= board.name %></h2>
            <% if board.not_a_board %>
              <img class="ProductList-itemImage" src="https://s3-eu-west-1.amazonaws.com/urskog/boards/<%= board.slug %>.jpg" alt="<%= board.name %>">
            <% else %>
              <img class="ProductList-itemImage" src="https://s3-eu-west-1.amazonaws.com/urskog/boards/<%= board.slug %>-<%= board.promoted_wood %>.jpg" alt="<%= board.name %>, deck only in <%= board.promoted_wood %>">
            <% end %>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
