
<div class="Constrained u-paddingBl u-cf">
  <article class="u-pullStart u-size6of10">
    <h1><%= @board.name %></h1>
    <div class="u-hideForNarrow" id="articleArea1">
      <p class="js-moveTo" data-targetNarrow="#infoTab" data-targetWide="#articleArea1">Urskog’s new model Stubbe is a dropthrough board perfect for freeriding. We made it slightly shorter than the average dropthrough model which gives a great turn ratio without comprimising on its stability.</p>
    </div>

    <div class="u-hideForNarrow" id="articleArea2">
      <table class="Table Table--fixed u-textSmaller u-size9of10 js-moveTo" data-targetNarrow="#specsTab" data-targetWide="#articleArea2">
        <tr>
          <td class="u-size1of3"><strong>Wood:</strong>
          <td class="u-size2of3"><%= @board.wood_list %>
        </tr>
        <tr>
          <td class="u-size1of3"><strong>Lenght:</strong>
          <td class="u-size1of3">950mm
          <td class="u-size1of3">37,4”
        </tr>
        <tr>
          <td class="u-size1of3"><strong>Width:</strong>
          <td class="u-size1of3">225mm
          <td class="u-size1of3">8,9”
        </tr>
        <tr>
          <td class="u-size1of3"><strong>Wheelbase:</strong>
          <td class="u-size1of3">690mm <td class="u-size1of3">27,1”
        </tr>
      </table>
    </div>
  </article>

  <aside class="u-marginTm u-pullEnd u-hideForNarrow" id="shopAside">
    <div class="js-moveTo" data-targetNarrow="#shopTab" data-targetWide="#shopAside">
      <%= erb :'parts/shop', :layout => false %>
    </div>
  </aside>

  <div class="Tabbed u-hideForWide js-tabbed">
    <ul class="Tabbed-nav">
      <li><a href="#" class="Tabbed-navItem js-tabbedNavItem is-active">Info</a>
      <li><a href="#" class="Tabbed-navItem js-tabbedNavItem">Specs</a>
      <li><a href="#" class="Tabbed-navItem js-tabbedNavItem">Shop</a>
    </ul>

    <div class="Tabbed-section js-tabbedSection is-active" id="infoTab">

    </div>
    <div class="Tabbed-section js-tabbedSection" id="specsTab">

    </div>
    <div class="Tabbed-section js-tabbedSection" id="shopTab">

    </div>
  </div>
</div>


<ul class="ProductList Constrained Constrained--l u-paddingTm u-marginTl">
  <% @board.woods.each do |wood| %>
    <li>
      <div class="ProductList-item">
        <h4 class="ProductList-itemHeading"><%= wood.capitalize %></h4>
        <img class="ProductList-itemImage" src="/boards/<%= @board.slug %>/<%= wood %>.jpg" alt="<%= @board.name %> in <%= wood %>">
      </div>
    </li>
  <% end %>
</ul>
