
<div class="product-info Constrained Constrained--tight">
  <article>
    <h1><%= @board.name %></h1>
    <p>Urskog’s new model Stubbe is a dropthrough board perfect for freeriding. We made it slightly shorter than the average dropthrough model which gives a great turn ratio without comprimising on its stability.</p>

    <table class="Table Table--fixed">
      <tr>
        <td class="u-size1of3"><strong>Wood:</strong>
        <td class="u-size2of3"><%= @board.wood_list %>
      </tr>
      <tr>
        <td class="u-size1of3"><strong>Lenght:</strong>
        <td class="u-size1of3">950mm
        <td class="u-size1of3">37,4”
      </tr>
      <tr>
        <td class="u-size1of3"><strong>Width:</strong>
        <td class="u-size1of3">225mm
        <td class="u-size1of3">8,9”
      </tr>
      <tr>
        <td class="u-size1of3"><strong>Wheelbase:</strong>
        <td class="u-size1of3">690mm <td class="u-size1of3">27,1”
      </tr>
    </table>
  </article>

  <aside class="u-marginTm u-pullEnd">
    <%= erb :'parts/shop', :layout => false %>
  </aside>
</div>


<ul class="ProductList">
  <% @board.woods.each do |wood| %>
    <li>
      <div class="ProductList-item">
        <h4 class="ProductList-itemHeading"><%= wood.capitalize %></h4>
        <img class="ProductList-itemImage" src="/boards/<%= @board.slug %>/<%= wood %>.jpg" alt="<%= @board.name %> in <%= wood %>">
      </div>
    </li>
  <% end %>
</ul>
