
<div class="Constrained u-paddingBl u-cf">
  <article class="u-pullStart u-size6of10">
    <h1><%= @board.name %></h1>
    <div class="u-hideForNarrow" id="articleArea1">
      <div class="js-moveTo" data-targetNarrow="#infoTab" data-targetWide="#articleArea1">
        <%= @board.info %>
      </div>
    </div>

    <div class="u-hideForNarrow" id="articleArea2">
      <table class="Table Table--fixed u-textSmaller u-size9of10 js-moveTo" data-targetNarrow="#specsTab" data-targetWide="#articleArea2">
        <tr>
          <td class="u-size3of8"><strong>Wood:</strong>
          <td class="u-size5of8"><%= @board.wood_list %>
        </tr>
        <tr>
          <td class="u-size3of8"><strong>Lenght:</strong>
          <td class="u-size3of8"><%= @board.length.mm %>mm
          <td class="u-size1of4"><%= @board.length.inch %>”
        </tr>
        <tr>
          <td class="u-size3of8"><strong>Width:</strong>
          <td class="u-size3of8"><%= @board.width.mm %>mm
          <td class="u-size1of4"><%= @board.width.inch %>”
        </tr>
        <tr>
          <td class="u-size3of8"><strong>Wheelbase:</strong>
          <td class="u-size3of8"><%= @board.wheelbase.mm %>mm
          <td class="u-size1of4"><%= @board.wheelbase.inch %>”
        </tr>
      </table>
    </div>
  </article>

  <aside class="u-marginTm u-pullEnd u-hideForNarrow" id="shopAside">
    <div class="js-moveTo" data-targetNarrow="#shopTab" data-targetWide="#shopAside">
      <%= erb :'parts/shop', :layout => false %>
    </div>
  </aside>

  <div class="Tabbed u-hideForWide js-tabbed">
    <ul class="Tabbed-nav">
      <li><a href="#" class="Tabbed-navItem js-tabbedNavItem is-active">Info</a>
      <li><a href="#" class="Tabbed-navItem js-tabbedNavItem">Facts</a>
      <li><a href="#" class="Tabbed-navItem js-tabbedNavItem">Shop</a>
    </ul>

    <div class="Tabbed-section js-tabbedSection is-active" id="infoTab">

    </div>
    <div class="Tabbed-section js-tabbedSection" id="specsTab">

    </div>
    <div class="Tabbed-section js-tabbedSection" id="shopTab">

    </div>
  </div>
</div>


<ul class="ProductList Constrained Constrained--l u-paddingTm u-marginTl">
  <!--<li>
    <div class="ProductList-item">
      <img class="js-rotate" data-name="<%= @board.slug %>" src="http://urskog.com/img/360/kvist/001.jpg" width="690" height="230">
    </div>
  </li>-->
  <% @board.woods.each do |wood| %>
    <li>
      <div class="ProductList-item">
        <h4 class="ProductList-itemHeading"><%= wood.capitalize %></h4>
        <img class="ProductList-itemImage" src="https://s3-eu-west-1.amazonaws.com/urskog/boards/<%= @board.slug %>/<%= wood %>.jpg" alt="<%= @board.name %> in <%= wood %>">
      </div>
    </li>
  <% end %>
</ul>
