
<div class="product-info constrained constrained--tighter">

  <article>
    <h1><%= @board.name %></h1>
    <p>Urskog’s new model Stubbe is a dropthrough board perfect for freeriding. We made it slightly shorter than the average dropthrough model which gives a great turn ratio without comprimising on its stability.</p>

    <table class="table-fixed">
      <tr>
        <td class="unit-1-3"><strong>Wood:</strong>
        <td class="unit-2-3"><%= @board.wood_list %>
      </tr>
      <tr>
        <td class="unit-1-3"><strong>Lenght:</strong>
        <td class="unit-1-3">950mm
        <td class="unit-1-3">37,4”
      </tr>
      <tr>
        <td class="unit-1-3"><strong>Width:</strong>
        <td class="unit-1-3">225mm
        <td class="unit-1-3">8,9”
      </tr>
      <tr>
        <td class="unit-1-3"><strong>Wheelbase:</strong>
        <td class="unit-1-3">690mm <td class="unit-1-3">27,1”
      </tr>
    </table>
  </article>

  <aside class="shop">
    <h2 class="shop__heading">Shop</h2>
    <label for="complete" class="check-radio">
      <input type="radio" id="complete" name="buy-option" checked> <span>Complete</span> <span class="extra">1400 <small>SEK</small></span>
    </label>
    <label for="deck-only" class="check-radio">
      <input type="radio" id="deck-only" name="buy-option"> <span>Deck only</span> <span class="extra">1800 <small>SEK</small></span>
    </label>

    <div class="shop__option js-complete is-active">
      <a class="btn buy"><span>Buy<strong class="price">3400 <small>SEK</small></strong></span></a>
      <p>Free shipping. <a href="#" class="help" tite="Everything you need, mounted and ready. The board, trucks, wheels, bearing, griptape">What's included?</a></p>
    </div>
    <div class="shop__option js-deck-only">
      <a class="btn buy"><span>Buy<strong class="price">1800 <small>SEK</small></strong></span></a>
      <p>Free shipping.</p>
    </div>
  </aside>

</div>



<% @board.woods.each do |wood| %>
<figure class="product-image">
  <figcaption class="heading heading-3"><%= wood.capitalize %></figcaption>
  <img src="/img/boards/<%= @board.slug %>/<%= wood %>.jpg" alt="">
</figure>
<% end %>