<h1 class="u-isHiddenVisually">Retailers, places to buy Urskog longboards</h1>

<table>
  <% @retailers.each do |retailer| %>
    <tr>
      <td><%= retailer.name %></td>
      <td><%= retailer.address %></td>
      <td><a href="mailto:<%= retailer.mail %>"><%= retailer.mail %></a></td>
      <td><%= retailer.phone %></td>
      <td><a href="<%= retailer.website %>">Visit website</a></td>
    </tr>
  <% end %>
</table>