<div class="Constrained Constrained--l">
  <h1 class="u-isHiddenVisually">Retailers: where to buy Urskog longboards</h1>

  <% @countries.each do |country| %>
    <% country.cities.each do |city| %>
      <h2><%= city.name %>, <%= country.name %></h2>
    <table class="Table Table--striped Table--fixed Table--responsive">
      <thead class="u-isHidden">
        <tr>
          <td class="u-size1of4">Name
          <td class="u-size1of4">Mail
          <td class="u-size1of5">Website
          <td class="u-size3of10">Address
        </tr>
      </thead>
      <tbody>
        <% city.retailers.each do |retailer| %>
          <tr>
            <td class="u-size1of4">
              <strong><%= retailer.name %></strong>

            <% if retailer.email %>
            <td class="u-size1of4">
              <strong class="Table-backupHead">Mail:</strong>
              <a href="mailto:<%= retailer.email %>"><%= retailer.email %></a>
            <% end %>

            <% if retailer.url %>
            <td class="u-size1of5">
              <strong class="Table-backupHead">Website:</strong>
              <a href="<%= retailer.url %>" target="_blank"><%= retailer.nice_url %></a>
            <% end %>

            <% if retailer.address %>
            <td class="u-size3of10">
              <strong class="Table-backupHead">Address:</strong>
              <a href="https://maps.google.se/maps?q=<%= retailer.address_encoded %>" target="_blank" title="Open in Google Maps"><%= retailer.address %></a>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  <% end %>
</div>
