<nav class="nav">
  <ul>
    <li><a class="nav__item <%= active("about") %>" href="/about">About</a></li>
    <li class="nav__sub-parent"><a class="nav__item <%= active("products") %>" href="/products">Products</a></li>

    <%= erb :'parts/nav_sub', :layout => false %>

    <li><a class="nav__item <%= active("retailers") %>" href="/retailers">Retailers</a></li>
    <li><a class="nav__item <%= active("contact") %>" href="/contact">Contact</a></li>
  </ul>
</nav>