<div class="nav__sub">
  <ul>
    <li><a class="nav__item <%= "is-active" if @active_subpage == "stubbe" %>" href="/products/stubbe">Stubbe</a>
    <li><a class="nav__item <%= "is-active" if @active_subpage == "kvist" %>" href="/products/kvist">Kvist</a>
    <li><a class="nav__item <%= "is-active" if @active_subpage == "kil" %>" href="/products/kil">Kil</a>
    <li><a class="nav__item <%= "is-active" if @active_subpage == "lov" %>" href="/products/lov">Löv</a>
    <li><a class="nav__item <%= "is-active" if @active_subpage == "pinne" %>" href="/products/pinne">Pinne</a>
    <li><a class="nav__item <%= "is-active" if @active_subpage == "sticka" %>" href="/products/sticka">Sticka</a>
    <li><a class="nav__item <%= "is-active" if @active_subpage == "fro" %>" href="/products/fro">Frö</a>
  </ul>
</div>