<form class="Shop js-shop" action="/products/<%= @board.slug %>/buy">
  <% if @board.deck_only? %>

    <label class="Control is-disabled" for="complete">
      <input type="radio" id="complete" name="buy_option" value="complete" disabled> <span>Complete</span> <span class="Control-sub">Not available</span>
    </label>
    <label class="Control" for="deckOnly">
      <input type="radio" id="deckOnly" name="buy_option" value="deck" checked> <span>Deck only</span> <span class="Control-sub"><%= @board.price.deck %> <small>SEK</small></span>
    </label>

  <% else %>

    <label class="Control" for="complete">
      <input class="js-shopControl" type="radio" id="complete" name="buy_option" value="complete" checked> <span>Complete</span> <span class="Control-sub"><%= @board.price.complete %> <small>SEK</small></span>
    </label>
    <label class="Control" for="deckOnly">
      <input class="js-shopControl" type="radio" id="deckOnly" name="buy_option" value="deck"> <span>Deck only</span> <span class="Control-sub"><%= @board.price.deck %> <small>SEK</small></span>
    </label>

  <% end %>

  <div>

    <% @board.woods.each do |wood| %>
      <label class="Control" for="<%= wood %>">
        <input type="radio" id="<%= wood %>" name="wood_type" value="<%= wood %>"> <span><%= wood.capitalize %></span>
      </label>
    <% end %>
  </div>

  <%= erb :'parts/buy_button' %>



</form>
